@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.container1{
    position: absolute;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0, 15px;
    top: 170px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container2{
    position: absolute;
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 25px;
    margin-top: 300px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container1 header{
    font-size: 25px;
    font-weight: 600;
    color: #333;
    position: relative;
  }

  .container1 form .stitle{
    font-size: 20px;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
  }

  .dropdown{
    display: inline-block;
    margin-top: 12px;
  }

  .title{
    position: absolute;
    top:50px;
    font-size: 2.4rem;
    color:#fff;
  }

  .container1 form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    max-width: 100px;
    background-color: #9f01ea;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 30px;
    color: #fff;
    border-radius: 4px;
  }
  